/* General styles for dark mode */
body.dark-mode {
    background-color: #333;
    color: #F5F5F5; /* Off-white text color */
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Heading styles */
h1 {
    color: #F5F5F5; /* Off-white heading color */
    text-align: center;
    margin-bottom: 20px;
}

/* Form styles */
form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #555;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
    color: #F5F5F5; /* Off-white label color */
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #333; /* Dark input text color */
    background-color: #777; /* Dark input background */
    border: none;
    border-radius: 3px;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #555;
    color: #F5F5F5; /* Off-white button text color */
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #777;
}

/* Results section */
#results {
    max-width: 800px;
    margin: 20px auto;
}

/* Sale item styles */
.sale-item {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #444;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Button styles */
.buy-button {
    display: block;
    width: fit-content;
    padding: 8px 16px;
    margin: 10px auto;
    background-color: #555;
    color: #F5F5F5; /* Off-white button text color */
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #777;
}

/* Discount-specific button colors */
.medium-discount-blue {
    background-color: #3b8ef3; /* Light blue for medium discounts */
}

.high-discount-green {
    background-color: #4CAF50; /* Updated light green for high discounts */
    color: #333; /* Dark text color to contrast with light green */
}

.sale-item .buy-button.medium-discount-blue {
    background-color: #3b8ef3; /* Light blue for 50% discount */
}

.sale-item .buy-button.high-discount-green {
    background-color: #4CAF50; /* Light green for 70% discount */
}

.sale-item .buy-button:hover {
    background-color: #666; /* Darker hover color for all buttons */
}
