<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steam Sale Sentinel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="dark-mode">
    <h1>Steam Sale Sentinel</h1>
    <form id="sales-form">
        <label for="steam_id">Steam ID:</label>
        <input type="text" id="steam_id" name="steam_id" required>
        <label for="currency">Currency:</label>
        <select id="currency" name="currency">
            <option value="€">€</option>
        </select>
        <button type="submit">Check for Sales</button>
    </form>
    <div id="results"></div>

    <script>
        document.getElementById('sales-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const steam_id = document.getElementById('steam_id').value;
            const currency = document.getElementById('currency').value;

            fetch('/check_sales', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `steam_id=${steam_id}&currency=${currency}`
            })
            .then(response => response.json())
            .then(data => {
                const resultsDiv = document.getElementById('results');
                resultsDiv.innerHTML = '';

                if (data.error) {
                    resultsDiv.innerHTML = `<p>Error: ${data.error}</p>`;
                } else {
                    data.forEach(sale => {
                        let discountClass = '';
                        if (sale.discount >= 70) {
                            discountClass = 'high-discount-green';
                        } else if (sale.discount >= 50) {
                            discountClass = 'medium-discount-blue';
                        }

                        resultsDiv.innerHTML += `
                            <div class="sale-item ${discountClass}">
                                <p>${sale.name} - ${sale.discount}% off. Was ${sale.price.toFixed(2)}${sale.currency}, now ${sale.discounted_price.toFixed(2)}${sale.currency}.</p>
                                <p>Priority: ${sale.priority}</p>
                                <button class="buy-button ${discountClass}" onclick="window.open('${sale.link}', '_blank')">Buy Now</button>
                            </div>
                        `;
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>
